@import "../../setting/mixin.scss";

// figma dev mode 참고해서 작성

// 전체 카드 컨테이너
.profile-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width: 360px;
    margin: 0 auto;
    padding: 16px;
    gap: 16px; 
    flex-shrink: 0;

    border-radius: var(--radius-lg);
    background: var(--primary-50);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.10);

    // 회원정보 영역
    .profile-info {
        display: flex;
        flex-direction: column;
        gap: 4px;

        // 이름 텍스트 필드
        .user-name {
            @include heading2; 
            color: var(--black);
            margin: 0; 
        }

        // 학과 & 학년 텍스트 필드
        .user-major {
            @include body5;
            color: var(--black);
            margin: 0;
        }
    }

    // 스탯 영역 (스탯: 팀플레벨, 포인트)
    .profile-stats {
        display: flex;
        gap: 8px; // 박스 사이 간격
        width: 100%;

        // 팀플레벨, 포인트 공통 디자인 stat-box
        .stat-box {
            display: flex;
            flex-direction: column;
            justify-content: space-between; // label 맨 위, value 맨 아래 배치

            width: 104px;
            height: 60px;
            padding: 8px 12px;
            
            border-radius: var(--radius-md);
            background: var(--white);

            .stat-label {
                @include body5;
                color: var(--black);
            }

            .stat-value {
                align-self: flex-end; // value 우측 하단 위치
                
                @include body2;
                color: var(--primary-800);
            }
        }
    }
}