

button,
a {
  cursor: pointer;
  background-color: var(--none);
}

body {
  background-color: var(--black);
  margin: 0;

  display: flex;
  justify-content: center;
}

.container {
  position: relative;
  font-family: var(--mainfont);
  width: 393px;
  min-height: 852px;
  height: 100%;
  background-color: var(--white);
  margin: 0 auto;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 47px; // 상태표시줄 공간
  padding-bottom: 130px; // 하단 여유 공간
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}


.container::-webkit-scrollbar {
  display: none;
}

.has-topbar {
  padding-top: 113px; // 상태표시줄 47px + TopBar 66px = 113px
}

.none {
  display: none !important;
}

input {
  outline: none;
}