.login {
  min-height: 852px;
  display: flex;
  flex-direction: column;
  padding-top: 216px;
}

.login__logo-area {
  @include flex-center;
  margin-bottom: 30px;
}

.login__logo {
  width: 122px;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.login__reset {
  align-self: flex-end;
  margin: 2px 11px 25px 0;
  background-color: transparent;
  color: var(--gray-500);
  @include body5;
}

.login__signup {
  align-self: center;
  margin-top: 70px;
  background-color: transparent;
  color: var(--black);
  @include body3;
}

.splash {
  @include flex-center;
}

.splash__logo {
  width: 122px;
}
