.reset-password__loader {
  width: 66px;
  height: 66px;
  margin: 34px auto 0;
  border: 9px solid #8ab0ff;
  border-left-color: #537dcc;
  border-radius: 50%;
  animation: reset-loader 0.9s linear infinite;
}

.reset-password__complete {
  margin-top: 45px;
}

@keyframes reset-loader {
  to {
    transform: rotate(360deg);
  }
}
