.auth-form {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-top: 26px;
}

.signup__email-form {
  gap: 53px;
}

.signup__resend {
  align-self: flex-end;
  margin: 0 11px 9px 0;
}

.signup__name {
  margin-top: 38px;

  h2 {
    @include heading1;
    color: var(--black);
    margin: 0 0 26px 5px;
  }
}

.signup__bottom-button {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 97px;
}
