#Button_Wrap{
    width: 100%;
    height: 56px;
    color: var(--white);
    background-color: var(--primary-700);
    border-radius: var(--radius-md);
    @include body2;

    display: flex;
    justify-content: center;
    align-items: center;
}