@import "../setting/mixin";

.modal-overlay {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100vw;
    height: 100vh;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.5);
}

.modal {
    display: flex;
    width: 350px;
    padding: 16px 16px 32px 16px;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    box-sizing: border-box;

    border-radius: var(--radius-lg);
    background: var(--white);

    &__close-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 24px;
        height: 24px;
        padding: 0;

        border: none;
        background: none;
        cursor: pointer;
        flex-shrink: 0;

        img {
            aspect-ratio: 1 / 1;
        }
    }

    // 기본 모달
    &__title {
        align-self: stretch;
        margin: 0;

        color: var(--primary-700);
        @include heading2;
    }

    &__content {
        align-self: stretch;
        width: 100%;
    }

    &__description {
        width: 318px;
        margin: 0;

        color: var(--black);
        @include body3;
    }

    // 팀플레벨 모달 본문
    &__level-info {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__level-name {
        width: 53px;
        color: var(--black);
        @include body2;
    }

    &__level-score {
        width: 265px;
        color: var(--black);
        @include body3;
    }

    // 포인트 모달 본문
    &__point {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }

    &__point-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__point-label {
        width: 159px;
        color: var(--black);
        @include body2;
    }

    &__point-value {
        width: 159px;
        text-align: right;
        color: var(--black);
        @include body3;
    }

    &__divider {
        width: 318px;
        height: 1px;
        background: var(--gray-500);
    }

    &__point-history {
        display: flex;
        flex-direction: column;
        gap: 12px;

        max-height: 160px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__point-history-title {
        color: var(--gray-500);
        @include body2;
    }

    &__point-history-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__point-history-label {
        width: 159px;
        color: var(--gray-500);
        @include body2;
    }

    &__point-history-value {
        width: 159px;
        text-align: right;
        color: var(--gray-500);
        @include body3;
    }

    &__actions {
        display: flex;
        width: 100%;
        margin-top: 16px;
        gap: 12px;
    }

    &__button {
        display: flex;
        padding: 12px;
        justify-content: center;
        align-items: center;
        gap: 6px;

        border: none;
        border-radius: var(--radius-md);
        cursor: pointer;

        color: var(--white);
        @include body2;
    }

    &__button--confirm {
        flex: 1;
        background: var(--primary-700);
    }

    &__button--cancel {
        flex: 1 0 0;
        color: var(--gray-500);
        background: var(--gray-100);
    }

    &__button--error {
        flex: 1;
        background: var(--error-dark);
    }

    &--error {
        .modal__title {
            color: var(--error-dark);
        }
    }
}