.PreferenceCard_Wrap{
    cursor: pointer;
    width: 173px;
    height: 130px;
    border-radius: var(--radius-md);
    background-color: var(--gray-50);

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 22px 16px;
    gap: 16px;
    box-sizing: border-box;

    header{
        display: flex;
        align-items: center;
        gap: 8px;

        .title{
            @include body2;
            font-weight: bold;
            color: var(--primary-800);
        }

        img{
            width: 24px;
            height: 24px;
        }
    }

    .content{
        @include caption;
        color: var(--gray-600);
    }
}

.PreferenceCard_Wrap#active{
    background-color: var(--primary-50);
    border: solid 1px var(--primary-600);
}